<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Directory listing for {{ path }}</title>
</head>
<body>
<h1>Directory listing for {{ path }}</h1>
<hr>
<ul>
{% for file in files %}
<li><a href="{{ url_for('home', path='/'.join([path, file])) }}">{{ file }}</a></li>
{% endfor %}
</ul>
<hr>
</body>
</html>